{%  extends 'pictureQ/base.html' %}

{% block title %}All Albums{% endblock %}


{% block body %}

    {% if object_list %}
        <h3>...because every picture tells a story</h3>
        <div class="container-fluid">
            <div class="row" id="photo-rows">
                {% for album in object_list %}
                    <div class="three columns col-sm-4" id="imageColumn">
                        <div class="row">
                            <a href="{% url 'pictureQ:album-detail' album.id %}">
                                {% if album.photo_set.all %}
                                    <img src="{{ album.photo_set.last.image.url }}" class="img-rounded"
                                     title="{{ album.title }}" id="imageIcon">
                                {% else %}
                                    <img src="/media/image_not_available.jpg" class="img-rounded"
                                    title="{{ album.title }}" id="imageIcon"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <a href="{% url 'pictureQ:album-detail' album.id %}" title="{{ album.title }}" id="modelTitle">
                                    {{ album.title }}
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="{% url 'pictureQ:edit-album' album.id %}">
                                    <button type="button" class="btn btn-sm btn-warning glyphicon glyphicon-pencil"
                                    title="Edit this album"></button>
                                </a>
                                <a href="{% url 'pictureQ:delete-album' album.id %}">
                                    <button type="button" class="btn btn-sm btn-danger glyphicon glyphicon-trash"
                                    title="Delete this album"></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row" id="photo-rows">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3>You don't have any albums</h3>
    {% endif %}

{% endblock %}


{% block footerContent %}

    <div class="col-sm-12">
        <p id="indexFooterPara">
            {% if object_list %}
                Revisit your memoryLane...
            {% else %}
                No Albums to tour...
            {% endif %}
        </p>
    </div>

{% endblock %}
